[populator]
dry_run = true # Defaults to false

[logging]
level = "DEBUG"

[oidc]
url = "<oidc_url>"
username = "<username>"
password= "<password>"
client_id = "<client_id>"

[ditto]
filter = 'and(eq(namespace,"geo-asset"),exists(attributes/coordinates))'
fields = "thingId,attributes(coordinates)"
url = "<api_url>"

[station]
namespace = "<station_namespace>" # Defaults to "internal"
subejct = "<station_subject>" # Defaults to "meteo"
